<div class="overflow-hidden relative min-h-[200px] h-full py-10 bg-white justify-center flex">
  <div class="w-full flex flex-col items-center justify-center gap-6 px-6 max-w-[1024px]">
    <h1 class="font-semibold text-[#E34545] text-[20px] text-center">
      {{ resetPasswordSection?.title }}
    </h1>
    <div class="w-full">
      <text-input max="100" key="email" [(value)]="email" [(error)]="errors.email" [required]="true"
        [disabled]="state == 2"></text-input>
    </div>

    <div class="w-full">
      <password-input key="password" [(value)]="password" [(error)]="errors.password" [required]="true"
        [hint]="registerSection?.passwordRule" *ngIf="state == 2" [light]="false"></password-input>
    </div>
    <div class="w-full">
      <password-input key="passwordCheck" [(value)]="passwordConfirm" [(error)]="errors.passwordConfirm"
        [required]="true" *ngIf="state == 2" [light]="false"></password-input>
    </div>
    <div class="w-full">
      <text-input key="verificationCode" [(value)]="code" [(error)]="errors.verificationCode" [required]="true"
        *ngIf="state == 2"></text-input>
    </div>

    <div class="pt-10 flex flex-row gap-10 px-4 w-full justify-end">
      <button type="submit"
        class="flex flex-row gap-4 items-center bg-[#E34545] rounded-md py-4 w-[300px] justify-center h-fit self-end"
        (click)="nextStep()">
        <p class="font-medium text-white">
          {{
          state == 1
          ? resetPasswordSection?.sendConfirmationCode
          : resetPasswordSection?.resetMyPassword
          }}
        </p>
        <svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2.64752 17.2282L11.5558 9.65605C11.7616 9.48108 11.8746 9.24778 11.8746 8.99361C11.8746 8.74455 11.7616 8.51111 11.5558 8.33642L2.65597 0.771308C2.44996 0.596333 2.17532 0.5 1.88232 0.5C1.58931 0.5 1.31451 0.596195 1.10866 0.771308L0.453216 1.32844C0.247363 1.50341 0.133706 1.73699 0.133706 1.98604C0.133706 2.2351 0.247363 2.46854 0.453216 2.64365L7.92685 8.99623L0.444599 15.3559C0.238909 15.5308 0.125414 15.7643 0.125414 16.0135C0.125414 16.2625 0.238909 16.4958 0.444599 16.6709L1.10037 17.2282C1.52687 17.5906 2.22101 17.5906 2.64752 17.2282Z"
            fill="white" />
        </svg>
      </button>
    </div>
  </div>
</div>
<password-update-modal [(visible)]="showUpdateModal"></password-update-modal>